.firstbox{
    background-color:aqua;
    width: 1000px;
    height: 500px;
    background-size: cover;
    margin: auto;
    margin-top:60px;
    background-image:url('./Images/Mountain.jpg');
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .secondbox{
    height: 300px;
    width: 300px;
    text-align:center;
    /* border-style: solid; color: antiquewhite;
    border-bottom-width:2px;
    border-top-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px; */
    margin: auto;
    position:relative;
    top:95px;
     border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; 
    background-image: url('./Images/Mountain.jpg');
    background-size: cover;
    filter: blur(2px);
    
  }
  .thirdbox{
     height: 300px;
    width: 300px;
    text-align:center;
    border-style: solid; color: antiquewhite;
    border-bottom-width:2px;
    border-top-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    margin: auto;
    position:relative;
    bottom:208px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: none;
  }
  .logIn{
          color: darkblue;
          background-color:white;
          width:200px;
          height: 40px;
          text-align: center;
          position: relative;
          top: -35px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          border-bottom-left-radius: 20px;  
          border-style: solid;
          border-color: antiquewhite;
  }
  .login{
    color:white;
          background: none;
          width:200px;
          height: 40px;
          text-align: center;
          position: relative;
          top: 30px;
          letter-spacing:3px;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          
  }
  .mail{
          height: 30px;
          top: 30px;
          width: 200px;
          position: relative;
          top: 20px;
          text-align: left; 
          text-indent:15px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          border-bottom-left-radius: 20px;  
          background: local;
          border-style: solid;
          border-color: antiquewhite;
  }
  .a{
    position: relative;
    top: -5px;
    right:85px;
  }
  .b{
    position: relative;
    top:-30px;
    left:70px;
    color: antiquewhite;
  }
  .check{
    position: relative;
    top: -3px;
    left:25px;
  }
  .password{
    position: relative;
    top:10px;
    color: antiquewhite;
    height: 30px;
    width: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;  
    background: none;
    text-indent: 15px;
    border-style: solid;
     border-color: antiquewhite;
    

  } 
  .c{
    color: antiquewhite;
    text-align: center;
    position: relative;
    top: -22px;
  }
  ::placeholder{
    color: antiquewhite;
  }
  i{
    position: relative;
    top:60px;
    right:30px;
  }